@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --Tomato: hsl(4, 100%, 67%);
    --Tomato-error: rgba(255, 98, 87, 0.26);
    --Pink: hsl(355, 100%, 67%);
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: var(--Dark-Slate-Grey);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

body p{
    font-size: 16px;
    color: var(--Dark-Slate-Grey);
}

.container{
    padding: 25px;
    justify-content: center;
    background-color: var(--White);
    display: grid;
    grid-template-columns: 55% 45%;
    width: 900px;
    height: 620px;
    border-radius: 30px;
}

.container .content{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px 0 50px;
    gap: 20px;
}

.container .content ul{
    padding-left: 25px;
    list-style-image: url('assets/images/icon-list.svg');
    line-height: 30px;
    font-weight: 400;
    color: var(--Dark-Slate-Grey);
}

.container .content li{
    padding-left: 10px;
}

.container .content h1{
    font-size: 3.3rem;
    color: var(--Dark-Slate-Grey);
}

.container .content form{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 5px;
}

.container .content form .label-error{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 700;
}

.container .content form .label-error .error{
    color: var(--Tomato);
    display: none;
}

.container .content form .label-error .email-label{
    color: var(--Dark-Slate-Grey);
}

.container .content form input{
    height: 50px;
    border: 1px solid var(--Grey);
    padding: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.container .content form input:focus{
    border: 1px solid var(--Dark-Slate-Grey);
}

.container .content form button{
    margin-top: 12px;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    cursor: pointer;
    font-weight: 700;
}

.container .content form button:hover{
    background: linear-gradient(to right, var(--Pink), rgb(250, 120, 59) );
    box-shadow: 1px 10px 20px rgba(252, 89, 116, 0.425);
}


.container .cover{
    grid-column-start: 2;
    grid-column-end: 3;
    background: url('assets/images/illustration-sign-up-desktop.svg');
    background-size: cover;
}

.thankyou-page{
    background-color: var(--White);
    width: 500px;
    height: 500px;
    padding: 50px 60px;
    border-radius: 30px;
    display: none;
}

.thankyou-page h2{
    font-size: 3.5rem;
    line-height: 3.3rem;
    font-weight: 700;
    color: var(--Dark-Slate-Grey);
    margin: 40px 0 20px 0;
}

.thankyou-page p{
    margin-bottom: 30px;
    color: var(--Dark-Slate-Grey);
}

.thankyou-page p #thankyou-page-email{
    font-weight: 700;
}

.thankyou-page button{
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 6px;
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    cursor: pointer;
    font-weight: 700;
}

.thankyou-page button:hover{
    background: linear-gradient(to right, var(--Pink), rgb(250, 120, 59) );
    box-shadow: 1px 10px 20px rgba(252, 89, 116, 0.425);
}

@media screen and (max-width:640px) {
    body{
        background-color: var(--White);
    }

    .container{
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding: 0;
        grid-template-columns: auto;
        grid-template-rows: 45% 55%;
    }

    .container .content{
        padding-top: 50px;
        padding-right: 50px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-content: start;
        height: 650px;
    }

    .container .content ul li{
        line-height: 15px;
    }

    .container .content form{
        width: 100%;
    }

    .container .cover{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        background: url('assets/images/illustration-sign-up-mobile.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .thankyou-page{
        background-color: var(--White);
        width: 100%;
        height: 100%;
        margin: auto;
        margin-right: 20px;
        padding-top: 70px;
    }

    .thankyou-page h2{
        font-size: 3rem;
    }

    .thankyou-page button{
        margin-top: 150px;
    }

}

