@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* colors */
    --todo-heading-nav-completed: rgba(51, 51, 51, 1);
    --placeholder: rgba(130, 130, 130, 1);
    --task: rgba(0, 0, 0, 1);
    --blue: rgba(47, 128, 237, 1);
    --gray: rgba(189, 189, 189, 1);
    --white: rgba(255, 255, 255, 1);
}


.todo-list{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo-list input{
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid var(--gray);
}

.todo-list input[type="checkbox"]:checked{
    display: flex;
    justify-content: center;
    background-color: var(--blue);
    border-color: var(--blue);
}

/* Select and style the first span element that are placed immediately after input is checked */
.todo-list input[type="checkbox"]:checked + span{
    text-decoration: line-through;

}

.todo-list input[type="checkbox"]:checked::before{
    content: '\2713';
    color: var(--white);
}


.todo-list span{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: left;

}

.completed-box{
    display: flex;
    justify-content: space-between;
}

.delete-task{
    background-color: transparent;
    border: none;
    color: var(--task);
}

@media screen and (max-width:700px) {
    .completed-box{
        width: 100% !important;
    }
    
}