@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/functions';

.container{
    background-color: $blue;
    width: 30%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
}