@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

:root{
    /* typographies */
    --title-size: 2.5rem;
    --title-description-weight: 400;
    --description-size:1rem;
    --task-title-size: 1.25rem;
    --task-title-task-button-weight: 600;
    --task-button-size: 1rem;
    --button-text:  0.875rem;
    --button-text-input-weight: 500;
    --input-label: 0.75rem;

    /* color */
    --white: #F8FAFC;
    --yellow: #F5D565;
    --beige: #F5E8D5;
    --mustard: #E9A23B;
    --mint:#A0ECB1;
    --green: #32D657;
    --pink-beige: #F7D4D3;
    --red: #DD524C;
    --light-gray: #E3E8EF;
    --dark-gray: #97A3B6;
    --blue: #3662E3;
    --gray: #00000033;
}

.modal-container{
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    margin: 20px;
    border-radius: 15px;
    width: 600px;
    background-color: var(--white);
    transition: all .3s linear;
    justify-content: space-between;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header-text{
    font-size: var(--task-title-size);
    font-weight: var(--title-description-weight);
}

.close-button{
    background-color: var(--white);
    width: 40px;
    height: 40px;
    border: 1px solid var(--light-gray);
    border-radius: 12px;
    cursor: pointer;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-input{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-name:focus, .task-name:focus{
    outline-color: #3662E3;
}

.task-input label{
    font-size: var(--input-label);
    color: var(--dark-gray);

}


.task-name,.task-description{
    border-radius: 7px;
    padding: 10px;
}

.task-input-icon-box{
    
}

.task-input-icon{
    width: 40px;
    height: 40px;
    background-color: var(--light-gray);
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
}

.task-input-icon-box input{
    display: none;
}

.task-icon-buttons{
    display: flex;
    gap: 8px;
}

.task-input-icon-box input[type='radio']:checked + .task-input-icon{
    background-color: var(--mustard);
}

.task-data-icon{
    background-color: var(--mustard);
}

.task-data-icon-remove{
    background-color: var(--light-gray);
}


.status-box{
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 5px;
    column-gap: 5px;
}

.task-status-box{
    border: 1px solid var(--light-gray);
    border-radius: 12px;
    height: 50px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
}



.task-status-check{
    background-color: var(--blue);
    margin: 10px;
    border-radius: 50%;
    padding: 2px;
    display: none;
}

.task-status-box div{
    display: flex;
    gap: 10px;
    align-items: center;
}

.task-status-box input{
    margin-right: 10px;
    display: NONE;
}

.input-status{
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.input-in-progress-icon{
    background-color: var(--mustard);
}

.input-status-text{
    font-size: var(--button-text);
    color: #000;

}

.input-completed-icon{
    background-color: var(--green);
}

.input-wont-do-icon{
    background-color: var(--red);
}

.overlay{
    background-color: var(--gray);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}

.delete-save{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.delete-button, .save-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 20px;
    color: var(--white);
    gap: 8px;
    cursor: pointer;
}

.delete-button{
    background-color: var(--dark-gray);
}

.save-button{
    background-color: var(--blue);
}

.task-status-box input[type="radio"]:checked + .task-status-check{
    display: block;
}

.task-status-data-check{
    display: block;
}




