@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: var(--Dark-Blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Manrope", sans-serif;
}

.card{
    text-align: center;
    background-color: var(--Dark-Grayish-Blue);
    max-width: 500px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 10px;
    position: relative;
    gap: 20px;
    box-shadow: 5px 10px 50px #00000023
}

.card h1{
    text-transform: uppercase;
    color: var(--Neon-Green);
    font-size: 0.9rem;
    font-weight: 800;
    letter-spacing: 3px;
}

.card p{
    font-size: 28px;
}

.card .divider{
    margin-bottom: 10px;
}

.card .divider-mobile{
    display: none;
}

.dice{
    border: none;
    border-radius: 50%;
    padding: 16px;
    background-color: var(--Neon-Green);
    position: absolute;
    bottom: -30px;
    cursor: pointer;
}

.dice:hover{
    box-shadow: 0 2px 25px var(--Neon-Green);
}

@media screen and (max-width:500px) {
    .card {
        max-width: 330px;
    }

    .card .divider{
        display: none;
    }

    .card .divider-mobile{
        display: block;
    }
   
}