@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* color */
    --logo: rgba(235, 87, 87, 1);
    --dark-gray: rgba(51, 51, 51, 1);
    --medium-gray: rgba(79, 79, 79, 1);
    --light-gray: rgba(130, 130, 130, 1);
    --ligthest-gray: rgba(189, 189, 189, 1);
    --lightest2-gray: rgba(242, 242, 242, 1);
    --white: rgba(255, 255, 255, 1);
    --shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
}

.homepage-container{
    padding: 50px 0;
}

.logo-container{
    display: flex;
    align-items: center;
    padding: 0 25px;
}

.search-button-box{
    display: flex;
    justify-content: end;
    padding: 0;
    padding: 0 25px;
}

.search-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 297px;
    height: 55px;
    top: 32px;
    left: 1047px;
    gap: 17px;
    border-radius: 16px;
    background-color: var(--white);
    border: none;
    box-shadow: var(--shadow);
}

.separator{
    height: 100%;
    width: 1px;
    background-color: var(--lightest2-gray);
}


.location{
    color: var(--dark-gray);
    font-size: 14px;
    font-weight: 400;
}

.location:hover,.guests:hover{
    cursor:text;
}

.guests{
    color: var(--ligthest-gray);
    font-size: 14px;
    font-weight: 400;
}

.search-icon .fa-magnifying-glass{
    color: var(--logo) !important;
    font-size: 17.05px;
}

.header-text, .total-results{
    padding: 60px 25px 30px;
}

.header-text{
    color: var(--dark-gray);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    display: flex;
    align-items: center;
}

.total-results{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    justify-content: end;
    display: flex;
    align-items: center;
}

.card-holder{
    display: flex;
    justify-content: center;
    padding: 0;
}

@media screen and (max-width:700px) {
    .homepage-container{
        padding: 30px 0;
    }
    .search-button-box{
        justify-content: center;
        padding: 30px 20px 40px;
    }
    .header-text{
        padding: 0 30px;
        font-size: 18px;
        
    }
    .total-results{
        padding: 0 30px;
    }  
    .home-card-box{
        padding: 20px 0;
    }
}