@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --orange: rgb(255, 81, 0);
    --black: rgb(14, 14, 14);
    --light-gray: rgba(158, 158, 158, 1);
    --dark-blue: rgba(9, 15, 49, 1);
    --dark-gray: rgba(79, 79, 79, 1);
    --default-button-bg: rgba(224, 224, 224, 1);
    --default-button-text:rgba(63, 63, 63, 1);
    --default-button-hover-focus: rgba(174, 174, 174, 1);
    --variant-outline-text: rgba(61, 90, 254, 1);
    --variant-outline-hover-focus: rgba(41, 98, 255, 0.1);
    --local-grocery-primary:  rgba(41, 98, 255, 1);
    --primary-hover-focus: rgba(0, 57, 203, 1);
    --secondary: rgba(69, 90, 100, 1);
    --secondary-hover-focus: rgba(28, 49, 58, 1);
    --danger: rgba(211, 47, 47, 1);
    --danger-hover-focus: rgba(154, 0, 7, 1);
    --white: rgb(255, 255, 255);
}


.sidebar-container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 200px;
    position: fixed;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

li{
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--light-gray);
}

li:nth-child(5){
    color: var(--dark-blue);
}

.logo{
    font-size: 13px;
    font-weight: 600;
}

.logo span{
    color: var(--orange);
}



